
.card1 {
    padding: 1.5% 7%;
    color: #fff;
    background-color: #3353FF
}
.superscript { position: relative; top: -0.1em; font-size: 100% }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul>li {
    padding: 4px
}

ul>li:hover {
    color: #fff;
    cursor: pointer
}

hr {
    border-width: 3px
}

.social>i {
    padding: 1%;
    font-size: 15px
}

.social>i:hover {
    color: #fff;
    cursor: pointer
}

.policy>div {
    padding: 4px
}

.heading1 {
    color: white;
    font-size: medium;
    font-weight: 600 !important;
}

.divider {
    border-top: 2px solid rgba(189, 196, 203, 0.5);
}